@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.Tag {
	font-family: 'La Belle Aurore', cursive;
	font-size: 20px;
	display: block;
	color: var(--color-tags);
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	@media only screen and (max-width: 575px) {
		font-size: 18px !important;
	}


	&--body {
		margin-left: 70px;

		@media only screen and (max-width: 1199px) {
			margin-left: 50px;
		}

		@media only screen and (max-width: 991px) {
			margin-left: 40px;
		}

		@media only screen and (max-width: 575px) {
			margin-left: 6px;
		}
	}

	&--body-start {
		//margin-bottom: 60px;
	}

	&--body-end {
		//margin-top: 150px;


		@media only screen and (max-width: 575px) {
			//margin-top: 30px !important;
		}
	}

	&--div {
		opacity: 0;

		@media only screen and (max-width: 1199px) {
			transform: translateX(0px);
		}

		@media only screen and (max-width: 575px) {
			transform: translateX(0) ;
		}
	}

	&--div-start {
		margin-bottom: 30px;

		@media only screen and (max-width: 991px) {
			//margin-bottom: 40px;
		}

		@media only screen and (max-width: 575px) {
			//margin-bottom: 10px;
		}
	}

	&--div-end {
		margin-top: 30px;

		@media only screen and (max-width: 991px) {
			//margin-top: 80px;
		}

		@media only screen and (max-width: 575px) {
			//margin-top: 30px !important;
		}
	}





}


