.Burger{
	display: block;
	width: 30px;
	position: relative;
	height: 22px;
	background-color: var(--color-bg);
	cursor: pointer;
	pointer-events: auto;

	&__line {
		width: 100%;
		height: 3px;
		background-color: var(--color-green);
		position: absolute;
		left: 0;
		transition: all 0.3s ease-in-out;
	}

	&__line--top {
		top: 0;
		transform-origin: 5%;
	}

	&__line--center {
		top: 50%;
		transform: translateY(-50%);
	}

	&__line--bottom {
		bottom: 0;
		transform-origin: 5%;
	}

	&.active &__line--top {
		transform: rotate(45deg);
	}

	&.active &__line--center {
		opacity: 0;
	}

	&.active &__line--bottom {
		transform: rotate(-45deg);
	}

	&:hover &__line {
		background-color: #6ABEB9;
	}
}

