$green: #6ABEB9;



.filter-buttons {
	margin-bottom: 40px;



	&__inner {
		@media only screen and (max-width: 575px) {
			margin-left: -50px;
			margin-right: -50px;
			overflow-y: auto;
			height: 40px;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: -10px;

		@media only screen and (max-width: 575px) {
			flex-wrap: nowrap;
			margin-bottom: 0;
		}

	}

	&__col {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;

		@media only screen and (max-width: 575px) {
			margin-bottom: 0;
		}

		&:first-of-type {
			@media only screen and (max-width: 575px) {
				padding-left: 50px;
			}
		}

		&:last-of-type {
			@media only screen and (max-width: 575px) {
				padding-right: 50px;
			}
		}
	}
}


.filter-button {
	display: inline-flex;
	border: 1px solid var(--color-text);;
	color: var(--color-text);
	cursor: pointer ;
	height: 40px;
	padding: 0 20px;
	align-items: center;
	justify-content: center;
	//margin-right: 10px;
	transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
	//margin-bottom: 10px;
	flex-wrap: nowrap;

	&.is-active {
		background-color: $green;
		border-color: $green;

		&:hover {
			color: #fff;
		}
	}

	&:hover {
		border-color: $green;
		color: $green;
	}

	&__text {
		white-space: nowrap;
	}

	&__amount {
		margin-left: 6px;
		white-space: nowrap;
	}

}

