.Logo {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5000;
	background-color: red;
	display: flex;


	&__svg {
		width: 400px;
		height: 400px;
		border: 1px solid #000;
	}
}
//
//#root {
//	display: none;
//}
//
//#root + svg {
//	position: relative;
//	z-index: 1;
//}
