@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slide-item {
	display: flex !important;
	outline: none !important;
	flex-direction: column;
	text-decoration: none;
	height: 100%;
	cursor: pointer;

	&__title {
		color: var(--color-green);
		font-size: 22px;
		line-height: 22px;
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 0;
	}

	&__desc {
		font-size: 20px;
		line-height: 22px;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 20px;
		color: var(--color-text);
	}

	&__role-title{
		font-size: 20px;
		line-height: 22px;
		margin-top: 0;
		margin-bottom: 20px;
		color: var(--color-text);
	}

	&__role {
		color: var(--color-text);
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 20px;
	}

	&__link {
		display: inline-flex;
		align-items: center;
		opacity: 0.4;
		transition: all 0.2s;
		color: var(--color-text);
		img ,
		svg {
			margin-left: 20px;
		}

		svg {
			path {
				fill: var(--color-text);
			}
		}
	}

	&__img {
		height: 300px;
		width: 100%;
		display: block;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		filter: grayscale(1);
		transition: filter 0.3s ease;

		@media only screen and (max-width: 991px) {
			filter: unset;
		}
	}


	&__img-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		transition: all 0.3s ease-out 0.1s;
	}

	&:hover {
		.slide-item__link {
			opacity: 1;
		}
		.slide-item__img-inner {
			transform: scale(1.2);
		}
	}

	&:hover &__img {
		filter: grayscale(0)
	}

}








.slick-track {
  display: flex
}

.slick-slide {
  padding: 20px;
  height: auto;
  display: flex !important;
  &>div {
    width: 100%;
  }
}

.slick-arrow {
  width: 30px;
  height: 30px;
  &.slick-disabled {
    opacity: 0.4;
    cursor: default;
  }
  &:before {
    display: none;
  }
  &:hover {
    img {
      opacity: 1;
    }
  }
  img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    transition: all 0.2s;
  }
}


.slick-next {
  img {
    transform: rotate(180deg);
  }
}


@media only screen and (max-width: 575px) {
  .slide-item__img {
    height: 200px;
  }
  .slick-slider {
    width: 95%;
    margin: 0 auto;
  }
  .Tag__body_end {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .slick-arrow {
    img {
      width: 20px;
      height: 20px;
    }
  }
}
