@font-face {
  font-family: 'Futura PT';
  src: url('./assets/fonts/FuturaPT-Bold.eot');
  src: local('Futura PT Bold'), local('FuturaPT-Bold'),
  url('./assets/fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/FuturaPT-Bold.woff2') format('woff2'),
  url('./assets/fonts/FuturaPT-Bold.woff') format('woff'),
  url('./assets/fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('./assets/fonts/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'),
  url('./assets/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/FuturaPT-Medium.woff2') format('woff2'),
  url('./assets/fonts/FuturaPT-Medium.woff') format('woff'),
  url('./assets/fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('./assets/fonts/FuturaPT-Light.eot');
  src: local('Futura PT Light'), local('FuturaPT-Light'),
  url('./assets/fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/FuturaPT-Light.woff2') format('woff2'),
  url('./assets/fonts/FuturaPT-Light.woff') format('woff'),
  url('./assets/fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


$green: red;

:root {
	--color-green: #6ABEB9;
}

body[data-theme='dark'] {
	--color-bg: #111111;
	--color-text: #ffffff;
	--color-tags: #3F3F3F;
	--color-gray: #dddddd;
}

body[data-theme='light'] {
	--color-bg: #ffffff;
	--color-text: #111111;
	--color-tags: #C0C0C0;
	--color-gray: #C0C0C0;


	.bg-img {
		filter: brightness(4.0);
	}
}



html {
  font-size: 16px;
  line-height: 1.42;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: 'Futura PT';
	background-color: var(--color-bg);
	overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}




.is-fixed {
	height: 100vh;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
	height: auto;
	min-height: 100vh;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	display: flex;

	@media only screen and (max-width: 1400px) {
		max-width: 1100px;
	}

	@media only screen and (max-width: 1199px) {
		max-width: 95%;
	}

	@media only screen and (max-width: 767px) {
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
}


.App {

	&__container {
		flex-direction: column;
		padding-top: 30px;
		padding-bottom: 30px;

		@media only screen and (max-width: 767px) {
			overflow-x: hidden;
		}
	}

	&__header {
		margin-bottom: 20px;
	}

	&__footer {
		margin-top: 20px;
	}

	&__content {
		margin-top: auto;
		margin-bottom: auto;
	}
}




.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 25;
	text-align: center;
	overflow: auto;

	&:after {
		content: '';
		height: 100%;
		width: 0;
		background-color: red;
		display: inline-block;
		vertical-align: middle;
	}

	&__bg {
		background-color: var(--color-bg);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__body {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		max-width: 900px;
		background-color: var(--color-bg);
		position: relative;
		z-index: 2;
		color: #6ABEB9;
		padding: 70px;
		border: 1px solid #6ABEB9;
		margin: 40px 15px;

		h1 {
			margin-top: 0;
			margin-bottom: 15px;
			color: var(--color-text);
			font-size: 50px;
			text-align: left;

			@media only screen and (max-width: 575px) {
				font-size: 30px;
				padding-right: 50px;
			}
		}

		p{
			margin-bottom: 40px;
			font-size: 20px;
			font-weight: 300;
			text-align: left;

			@media only screen and (max-width: 767px) {
				p {
					margin-bottom: 25px;
				}
			}

			@media only screen and (max-width: 575px) {
				font-size: 16px;

			}
		}

		h3 {
			text-align: left;
		}


		@media only screen and (max-width: 991px) {
			max-width: 85%;
			margin: 30px 0;
		}

		@media only screen and (max-width: 767px) {
			padding: 25px;
		}

	}



	&__close {
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: var(--color-bg);
		top: 20px;
		right: 20px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.2s;

		svg {
			width: 20px;
			path {
				transition: all 0.2s;
			}
		}
		&:hover {
			background: #6ABEB9;
			svg {
				path {
					fill: black;
				}
			}
		}
	}

	&__footer {

		@media only screen and (max-width: 767px) {
			display: flex ;
			flex-direction: column;
			align-items: flex-start;
		}

		& > a {
			display: inline-flex;
			align-items: center;
			margin-right: 80px;
			color: var(--color-text) !important;
			font-size: 20px;
			position: relative;
			text-decoration: none;
			transition: all 0.2s;
			svg {
				margin-left: 12px;
				path {
					transition: all 0.2s;
					fill: var(--color-text);
				}
			}
			&:hover {
				color: var(--color-green) !important;
				svg path {
					fill: var(--color-green);
				}
			}

			@media only screen and (max-width: 767px) {
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}


}

.inner {

	display: flex;
	flex-direction: column;
	max-width: 100%;


	@media only screen and (max-width: 991px) {
		width: 100%;
		max-width: 100%;
	}

	@media only screen and (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	&__center {
		margin: auto 0;
		padding-left: 120px;
		padding-right: 100px;

		@media only screen and (max-width: 1199px) {
			padding-left: 100px;
			padding-right: 100px;
		}

		@media only screen and (max-width: 991px) {
			padding-left: 70px;
			padding-right: 70px;
		}

		@media only screen and (max-width: 767px) {
			padding-left: 10%;
			padding-right: 10%;
		}

		@media only screen and (max-width: 575px) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}


	&__content {
		margin-top: 80px;

		@media only screen and (max-width: 1199px) {
			padding-left: 0;
		}

		@media only screen and (max-width: 991px) {
			margin-top: 40px;
		}

		@media only screen and (max-width: 575px) {
			margin-top: 20px;
			padding-left: 0;

			& > p {
				font-size: 16px;
				padding-left: 20px;
			}

		}

		a {
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			font-size: 20px;
		}
	}

}


.logo {
	width: 35px;
	height: 35px;
	display: flex;
	align-content: center;
	justify-content: center;
	svg {
		path {
			transition: all 0.5s;
		}
	}
	&:hover {
		svg {
			path {
				fill: $green
			}
			.devider {
				fill: #ffffff;
			}
		}
	}
}

.title {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 2;
	padding-right: 60px;

	h1 {
		margin: 0;
		font-weight: 500;
		font-size: 70px;
		line-height: 70px;
		color: var(--color-text);
	}


	.Tag--h1-end {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.bg-img {
	position: absolute;
	right: -20%;
	top: auto;
	bottom: -20px;

	img {
		max-width: 800px;
		height: auto;
	}
}


.title .Tag.Tag--h1-end {
  opacity: 0;
}


.slick-next {
  right: -30px !important;
}

.slick-prev {
  left: -30px !important;
}


.swiper-button-prev,
.swiper-button-next {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #000;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px 30px;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7694 5.71059L8.47882 10L12.7682 14.2894L11.9365 15.1212L6.81529 10L11.9376 4.87765L12.7694 5.71059ZM20 10C20 15.5141 15.5141 20 10 20C4.48588 20 0 15.5141 0 10C0 4.48588 4.48588 0 10 0C15.5141 0 20 4.48588 20 10ZM18.8235 10C18.8235 5.13412 14.8659 1.17647 10 1.17647C5.13412 1.17647 1.17647 5.13412 1.17647 10C1.17647 14.8659 5.13412 18.8235 10 18.8235C14.8659 18.8235 18.8235 14.8659 18.8235 10Z' fill='%236ABEB9'/%3E%3C/svg%3E%0A");
	}

	&:after {
		display: none;
	}
}



.slider {
	position: relative;


	&__init {
		@media only screen and (max-width: 575px) {

			padding-left: 20px !important;
			padding-right: 20px !important;
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		width: 30px;
		height: 30px;
		cursor: pointer;
		opacity: 0.7;
		transition: opacity 0.2s;

		img  {
			width: 100%;
		}

		&:hover {
			opacity: 1;
		}


		@media only screen and (max-width: 575px) {
			width: 20px;
			height: 20px;
		}
	}

	&__btn--prev {
		left: -50px;

		@media only screen and (max-width: 575px) {
			left: -20px;
		}
	}

	&__btn--next {
		right: -50px;

		@media only screen and (max-width: 575px) {
			right: -20px;
		}

		img {
			transform: rotate(180deg);
		}
	}
}




// MEDIA


@media only screen and (max-width: 991px) {

  .logo {
    display: none;
  }

  .title h1 {
    font-size: 60px;
  }

}


@media only screen and (max-width: 575px) {

  .title {
    padding-left: 0;
    padding-right: 0;
    h1 {
      font-size: 50px;
    }
  }

  .title .Tag--h1-end  {
    position: static;
  }


  .slick-arrow {
    width: 20px !important;
    height: 20px !important;
  }
  .slick-prev {
    left: -20px !important;
  }
  .slick-next {
    right: -20px !important;
  }

}

@media only screen and (max-width: 480px) {
	.title {
		h1 {
			margin-top: -6px;
			font-size: 35px;
			line-height: 40px;
		}
	}

}
